beautifulsoup4==4.12.2
bio==1.7.1
biopython==1.84
certifi==2022.12.7
charset-normalizer==2.0.4
contourpy==1.2.0
cryptography==38.0.1
cycler==0.12.1
deepchem==2.8.0
dgl==2.4.0+cu121
dgllife==0.3.2
filelock==3.13.1
fonttools==4.47.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2023.12.2
future==1.0.0
gensim==4.3.3
idna==3.4
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.8.2
mock==5.1.0
networkx==3.2.1
numpy==1.26.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.1.105
packaging==23.2
pandas==2.2.3
pillow==10.2.0
protobuf==4.23.4
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.2
rdkit==2024.3.6
regex==2024.11.6
requests==2.31.0
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
soupsieve==2.5
subword-nmt==0.3.8
threadpoolctl==3.5.0
torch==2.1.2+cu121
tokenizers==0.20.3
torch-cluster==1.6.2+pt21cu121
torch-geometric==2.6.1
torch-scatter==2.1.2+pt21cu121
torchdata==0.9.0
torchvision==0.16.2+cu121
tqdm==4.64.1
traitlets==5.14.1
transformers==4.46.2
typing_extensions==4.12.2
urllib3==1.26.13
